/*delete the margin*/
.container-fluid {
    overflow: hidden;
  }
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
  }
 
  
  /*FONT SETTING*/
  @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
  h1 {
    font-family: Noto Sans TC, Futura, sans-serif;
    font-size: 2.3em;
    letter-spacing: 3px;
  }
  h2 {
    font-family: Noto Sans TC, roboto, sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
  }
  h3 {
    font-family: Noto Sans TC, roboto, sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
  }
  p {
    font-family: Noto Sans TC, roboto, sans-serif;
    font-size: 1em;
    line-height: 24px;
  }
  .btn {
    font-family: Noto Sans TC, roboto, sans-serif;
    font-size: 1em;
    line-height: 24px;
  }
  .nav {
    font-family: Noto Sans TC, roboto, sans-serif;
  }
  /*FONT SETTING*/
  
  /*About*/
  .div1-bg1 {
    height: 400px;
    background-image: url("https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/How%20to%20calm%20a%20hyper%20dog.jpg?itok=Vg7ueySi");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }
  /*triangle*/
  .triangle-blue {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 400px 0;
    border-color: transparent #0e3668 transparent transparent;
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0%;
  }
  
  .right-area {
    background-color: #0e3668;
    height: 400px;
    padding-top: 150px;
    color: white;
    padding-right: 10%;
    text-align: right;
  }
  .p-margin {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  /*project*/
  .div3-box {
    height: 120px;
    padding: 40px;
    margin-top: 30px;
  }
  
  .about-square {
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    height: 200px;
    width: 350px;
    box-shadow: 0px 2px 3px #999999;
    overflow: hidden;
    color: transparent;
  }
  .about-square:hover {
    border: 1px solid #edd220;
    color: #777777;
  }
  .about-square img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .about-square:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .img-word {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
  
    margin-left: -35px;
    z-index: 99;
  }
  
  .col4-height {
    height: 420px;
    padding-top: 0px;
  }
  .img-hover {
  }
  .col4-t-padding {
    margin-bottom: 20px;
  }
  
  .col4-t-padding2 {
    margin-top: 20px;
  }
  
  hr {
    margin-top: 50px;
    border-top: 2px solid #d8d8d8;
    width: 350px;
    align: center;
  }
  /*footer-two*/
  footer {
    margin-top: 0px;
    height: 70px;
    width: 100%;
    background-color: #0e3668;
    text-align: right;
  }
  .foot-control {
    text-align: center;
  }
  .btn-footer {
    margin: auto;
    height: 50px;
    border-radius: 5px;
    width: 120px;
    background-color: #edd220;
    color: white;
    box-shadow: 0px 2px 3px #999999;
    border: none;
    margin-top: -25px;
  }
  .btn-top {
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: #edd220;
    color: white;
    box-shadow: 0px 2px 3px #999999;
    border: none;
    margin-right: 50px;
    position: relative;
    top: -50px;
  }
  .btn-top:hover {
    background-color: #fff;
  }
  .btn-footer:hover {
    background-color: #fff;
  }
  .footer-end {
    text-align: center;
    color: white;
    margin: -37px;
  }
  /*footer-two*/
  
  /*moblie hidden*/
  @media (min-width: 768px) and (max-width: 979px) {
    .right-area {
      height: 300px;
      padding-top: 150px;
      color: white;
      text-align: center;
      padding-right: 0;
    }
  }
  
  @media (max-width: 480px) {
    .right-area {
      height: 300px;
      padding-top: 110px;
      color: white;
      text-align: center;
      padding-right: 0;
    }
  }
  @media (max-width: 767px) {
    .right-area {
      height: 300px;
      padding-top: 110px;
      color: white;
      text-align: center;
      padding-right: 0;
    }
  }
  

    
